<app-guestnavbar></app-guestnavbar>
<app-plus-button></app-plus-button>
  <!-- <div class="container" > -->
    <section id="banner">
      <div class="inner">
        <h1 style="color: white;">Welcome {{profile}}</h1>
        <p>Your {{type}} is here,</p>
      </div>
    </section>
  <!-- </div> -->
<h4 class="center">Your {{type}}<hr width="200px"></h4>
  <div class="container">
    <ul class="tabs tabs-transparent center">

      <li class="tab"><a [routerLink]="['/users/dashboard']" (click)='onBookmark()'>BookMark</a></li>
      <li class="tab"><a [routerLink]="['/users/dashboard']" (click)='onContent()'>Content</a></li>
      <li class="tab sp"><a [routerLink]="['/users/dashboard']">
        <!-- <form [formGroup]="searchForm" (submit)="onSubmit()">
        <div class="row" id="topbarsearch">
          <div class="input-field col s6 s12 blue-text">
            <i class="blue-text material-icons prefix">search</i>
            <input type="text" formControlName="body" ng-model="searchText" placeholder="search" id="autocomplete-input" class="autocomplete blue-text" >
            </div>
         </div>
       </form> -->
       <form action="">
         <div class="form-group">
           <input type="text" name="searchText"  placeholder="Search" [(ngModel)]="searchText">
         </div>
       </form>
        </a>
      </li>
    </ul>

    <div class="row">
      <div class="col s12 m6 l4" *ngFor="let val of bookmark | filter: searchText; let i=index ">
        <div class="card" *ngIf="limit > i ">
          <div class="card-image" >
            <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
              <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="onDelete(val._id)"><i class="material-icons">delete</i></a>
          </div>
          <div class="card-content">
            
            <h4><a [routerLink]="['/content/view',val._id]">{{val.title}}</a>
            <a class="btn-floating blue" [routerLink]="['/',type,'add',val._id]" ><i class="material-icons">edit</i></a>
            </h4>
            <a target="_blank" href="{{val.link}}">{{val.link | slice:0:30}}</a>
            <p [innerHTML]="(val.body.length>200)? (val.body | slice:0:200)+' ':(val.body)"></p>
              <a *ngIf="val.body.length>200" [routerLink]="['/content/view',val._id]">View More.....</a>
  
            <br>
            <div class="center" *ngIf="val.status=='private' && val.reason==''" >          
              <a class="btn blue" (click)="onRequest(val._id)">Request</a>              
            </div>
            <div class="center" *ngIf="val.status=='private' && val.reason!=''" >          
              <p style="color: red;">{{val.reason}}</p>
              
            </div>
            <div class="center" *ngIf="val.status=='pending'">       
              <a class="btn" disabled>Pending</a>   
              <a class="btn red" (click)="onCancel(val._id)">Cancel</a>
            </div>
            <div class="center" *ngIf="val.status=='public'">       
              <a class="btn red" (click)="onCancel(val._id)">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="center" *ngIf="temp >10 "> 
      <button class="btn blue" (click)='showMore()' onClick = "this.style.visibility= 'hidden';" >Show more</button>
    </div>
  </div>

<!-- <h4 class="center">{{type}}</h4>
<div class="container">
  <div class="row">
      <div class="col s12 m6 l6" *ngFor="let con of content">
        <div class="card">
          <div class="card-image" >
              <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="onDeleteContent(con._id)"><i class="material-icons">delete</i></a>
          </div>
          <div class="card-content" >  
            
            <h4>{{con.title}} 
            <a class="btn-floating blue" [routerLink]="['/content/add',con._id]"><i class="material-icons">edit</i></a>
            </h4>
            <p>{{con.body}}
            <a [routerLink]="['/content/view',con._id]">View More.....</a>
            </p>
            <br>{{con.status}}
            <div class="center" >          
              <a class="btn blue" (click)="onRequest(con._id)">Request</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div> -->


<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text" style="float: left;" >Copyright &copy; 2020 All Rights Reserved by 
          <a href="users/dashboard">Bookmark</a>.
        </p>
        <a class="right" [routerLink]="['/users/termsandconditions']">Terms & Conditions</a> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="google" href="#"><i class="fa fa-google"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>