<app-guestnavbar></app-guestnavbar>
<app-plus-button></app-plus-button>

  <div class="container" >
    <h3>Welcome {{profile}}</h3>
    <p>Your bookmarks & contents is here,</p>
  </div>
<h4 class="center">Bookmarks<hr width="150px"></h4>
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6" *ngFor="let val of bookmark">
        <div class="card">
          <div class="card-image" >
            <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
              <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="onDelete(val._id)"><i class="material-icons">delete</i></a>
          </div>
          <div class="card-content">
            
            <h4>{{val.title}}
            <a class="btn-floating blue" [routerLink]="['/bookmark/add',val._id]" ><i class="material-icons">edit</i></a>
            </h4>
            <a target="_blank" href="{{val.link}}">{{val.link}}</a>
            <p>{{val.body}}</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>

<h4 class="center">Contents<hr width="150px"></h4>
<div class="container">
  <div class="row">
      <div class="col s12 m6 l6" *ngFor="let con of content">
        <div class="card">
          <div class="card-image" >
            <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
              <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="onDeleteContent(con._id)"><i class="material-icons">delete</i></a>
          </div>
          <div class="card-content" >  
            
            <h4>{{con.title}} 
            <a class="btn-floating blue" [routerLink]="['/content/add',con._id]"><i class="material-icons">edit</i></a>
            </h4>
            <p>{{con.body}}
            <a [routerLink]="['/content/view',con._id]">View More.....</a>
            </p>
            <br>
            <div class="center">          
              <a class="btn blue" (click)="onRequest(con._id)">Request</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>