.card{
    margin-top: 2em;
    height: 25em;
    width: 20em;
}
.container{
    margin-top: 20px;
}

.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tab.disabled a, .tabs.tabs-transparent .tab.disabled a:hover{
    color: blue;
}
.sp{
    margin-right: 7rem;
}
.row .col.s12{
    margin-top: 0px;
}

.btn{
    margin-right: 5px;
}


#banner {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    background-color: #111111;
    color: rgb(255, 255, 255);
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-image: url("../../../../assets/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    display: -ms-flexbox;
    height: 35rem !important;
    min-height: 35rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

#banner > .inner {
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1;
    position: relative;
    z-index: 3;
}
#banner > .inner > :last-child {
      margin-bottom: 0; 
}
      
.site-footer{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
