<app-guestnavbar></app-guestnavbar>

<section id="banner">
  <div class="inner">
    <h1>BOOKMARK</h1>
  <p class="lead">Welcome to our ................</p>
  <div>
    <a class="btn btn-primary">Register</a> 
    &nbsp;
    <a class="btn btn-default">Login</a>
  </div>
  </div>
</section> 

<div class="container">
  <h2 class="center">Services</h2>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->         
        </div>
        <div class="card-content">
          <h4 class="center"><b>service1 <hr></b></h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including 
            versions of Lorem Ipsum.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->          
        </div>
        <div class="card-content">
          <h4 class="center"><b>service2 <hr></b></h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including 
            versions of Lorem Ipsum.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
        </div>
        <div class="card-content">
          <h4 class="center"><b>service3<hr></b></h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including 
            versions of Lorem Ipsum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


