<app-guestnavbar></app-guestnavbar>

<section id="banner">
  <div class="inner">
    <h1>BOOKMARK</h1>
  <p class="lead">Welcome to our ................</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/login']">Register</a> 
    &nbsp;
    <a class="btn btn-default" [routerLink]="['/register']">Login</a>
  </div>
  </div>
</section> 

<div class="container">
  <h2 class="center">Our Services</h2>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
       <img src="https://lorempixel.com/100/190/nature/6">        
        </div>
        <div class="card-content">
          <h4 class="center"><b>BLOGS <hr></b></h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including 
            versions of Lorem Ipsum.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
         <img src="https://lorempixel.com/100/190/nature/6">         
        </div>
        <div class="card-content">
          <h4 class="center"><b>ARTICLES <hr></b></h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including 
            versions of Lorem Ipsum.
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://lorempixel.com/100/190/nature/6"> 
        </div>
        <div class="card-content">
          <h4 class="center"><b>BOOKMARK<hr></b></h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including 
            versions of Lorem Ipsum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <h2 class="center">About Us</h2>
  <div class="row">
  <div class="col-12">
<p>A bookmark is a thin marking tool, commonly made of card, leather, or fabric, 
  used to keep track of a reader's progress in a book and allow the reader to easily
   return to where the previous reading session ended. ... Other bookmarks incorporate 
   a page-flap that enables them to be clipped on a page</p>
   <p>A bookmark is a thin marking tool, commonly made of card, leather, or fabric, 
    used to keep track of a reader's progress in a book and allow the reader to easily
     return to where the previous reading session ended. ... Other bookmarks incorporate 
     a page-flap that enables them to be clipped on a page</p>
     <p>A bookmark is a thin marking tool, commonly made of card, leather, or fabric, 
      used to keep track of a reader's progress in a book and allow the reader to easily
       return to where the previous reading session ended. ... Other bookmarks incorporate 
       a page-flap that enables them to be clipped on a page</p>
  </div>
  </div>
</div>


<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
     <a href="#">Bookmark</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="google" href="#"><i class="fa fa-google"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>