<app-guestnavbar></app-guestnavbar>
<app-plus-button></app-plus-button>

<div class="container">
<div class="card">
<h3>Add Content</h3>
<div class="row">
    <form [formGroup]="contentForm" (submit)="onSubmit()" class="col s12">
        <!--<div class="row">
            <div class="input-field">
                <input type="text" formControlName="link">
                <div class="invalid-feedback" *ngIf="submitted && myForm.link.errors?.required">
                    *Link is required.
                </div> 
                <label for="link">Link</label> 
            </div>
        </div>-->

        <!--<div class="row">
            <div >
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="private" selected>Private</mat-option>
                        <mat-option value="public">Public</mat-option>
                    </mat-select>
                </mat-form-field>        
            </div>
        </div>-->

        <div class="row">
            <div class="input-field">
                <input type="text" formControlName="title">
                <div class="invalid-feedback" *ngIf="submitted && myForm.title.errors?.required">
                    *Title is required.
                </div> 
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <label for="description">Description</label>
            <div class="input-field">
                
                <ckeditor [editor]="Editor" data="" formControlName="body" ></ckeditor>
            </div>
            
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <!-- <button>Sign Up</button> -->
            <a class="btn orange">Cancel</a>
        </div>
    </form>
</div>
</div>
</div>
