<app-guestnavbar></app-guestnavbar>
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form (submit)="onRegisterSubmit()">
            <h1>Create Account</h1>
            <br>
            
            <input type="text" placeholder="Name" [(ngModel)]="name" name="name" />
            <input type="email" placeholder="Email" [(ngModel)]="mail" name="mail"/>
            <input type="password" placeholder="Password" [(ngModel)]="password" name="password"/>
            <button>Sign Up</button>
            <br>
            <div>
                <span>or use your email for registration</span>
            </div>
            
            <div class="section">
                <a href="/auth/google" class="btn color1">
                    <i class="fab fa-google-plus-g left"></i>Log In With Google
                </a>
            </div>
        </form>
    </div>
    
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn" [routerLink]="['/login']">Sign In</button>
            </div>
            
        </div>
    </div>
</div>

    