<app-guestnavbar></app-guestnavbar>
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form [formGroup]="userForm"  (submit)="onRegisterSubmit()">
            <h1>Create Account</h1>
            <br>
            
            <input type="text" placeholder="Name" formControlName="name" />
            <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
                *Name is required.
            </div>
            <input type="email" placeholder="Email" formControlName="mail"/>
            <div class="invalid-feedback" *ngIf="submitted && myForm.mail.errors?.required">
                *Mail id is required.
            </div>
            <div class="invalid-feedback" *ngIf="submitted && myForm.mail.errors?.pattern">
                *Enter valid email.
            </div>
            <input type="password" placeholder="Password" formControlName="password"/>
            <div class="invalid-feedback" *ngIf="submitted && myForm.password.errors?.required">
                *Password is required.
            </div>
            <button>Sign Up</button>
            <br>
            <!-- <div>
                <span>or use your email for registration</span>
            </div>
            
            <div class="section">
                <a href="/auth/google" class="btn color1">
                    <i class="fab fa-google-plus-g left"></i>Log In With Google
                </a>
            </div> -->
        </form>
    </div>
    
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn" [routerLink]="['/login']">Sign In</button>
            </div>
            
        </div>
    </div>
</div>

    