<div class="navbar-fixed">
  <nav class="toolbar">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="large material-icons">bookmark_border</i>BookMark</a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="!authService.loggedIn();" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/users/dashboard']">Dashboard</a></li>
        <li *ngIf="!authService.loggedIn();" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/users/account']">Account</a></li>
        <li *ngIf="authService.loggedIn();" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Home</a></li>
        <li *ngIf="authService.loggedIn();" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/login']">Login</a></li>
        <li *ngIf="authService.loggedIn();" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/register']">Register</a></li>
        <li *ngIf="!authService.loggedIn();"><a (click)='onLogoutClick()' [routerLink]="['/login']">Logout</a></li>
      </ul>
    </div>
  </nav>
</div> 